@import "../../styles/_content.css";

:host,
article {
  block-size: 100%;
  inline-size: 100%;
}

:host {
  container-type: inline-size;
  display: block;
}

article {
  --_article-gap: 2rem;
  --_section-1: 30%;
  --_section-2: 50%;
  --_section-margin: 0;
  --_section-first-child-margin-block-end: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /*
  > section {
    margin: var(--_section-margin);

    &:nth-child(1) {
      inline-size: var(--_section-1);
      margin-block-end: var(--_section-first-child-margin-block-end);
    }

    &:nth-child(2) {
      inline-size: var(--_section-2);
    }
  } */
}
