@import "../../styles/_content.css";

:host {
  container: article / inline-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  block-size: 100%;
  inline-size: 100%;
}

article {
  --_article-flex-direction: row;
  --_section-1: 30%;
  --_section-2: 50%;

  display: flex;
  flex-direction: var(--_article-flex-direction);
  gap: 2rem;
  justify-content: center;
  block-size: 100%;
  inline-size: 100%;
}

@container article (max-width: 900px) {
  article {
    --_article-flex-direction: column;
  }

  section {
    --_section-1: 400px;
    --_section-2: 400px;

    margin: 0 auto;

    &:first-child {
      margin-block-end: 2rem;
    }
  }
}

section {
  &:nth-child(1) {
    inline-size: var(--_section-1);
  }

  &:nth-child(2) {
    inline-size: var(--_section-2);
  }
}
