form[inert] {
  filter: grayscale(1) opacity(0.6);
}

input:-webkit-autofill {
  background: red;
}

.mui-link {
  color: var(--mui-color-text);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
