:root {
  /** Dark theme primary colors */
  --palette-primary-a0: #711fee;
  --palette-primary-a10: #863ff1;
  --palette-primary-a20: #9958f4;
  --palette-primary-a30: #ab71f6;
  --palette-primary-a40: #bb88f8;
  --palette-primary-a50: #caa0fa;

  /** Dark theme surface colors */
  --palette-surface-a0: #1d222e;
  --palette-surface-a10: #323742;
  --palette-surface-a20: #494c57;
  --palette-surface-a30: #60636d;
  --palette-surface-a40: #797b84;
  --palette-surface-a50: #92949b;

  /** Dark theme tonal surface colors */
  --palette-surface-tonal-a0: #22313b;
  --palette-surface-tonal-a10: #37454e;
  --palette-surface-tonal-a20: #4e5a62;
  --palette-surface-tonal-a30: #656f77;
  --palette-surface-tonal-a40: #7d868c;
  --palette-surface-tonal-a50: #959da2;

  /** colors */
  --palette-colors-purple: #711fee;
  --palette-colors-green: #2dd4bf;
}

.purple {
  /** Dark theme primary colors */
  --palette-primary-a0: #711fee;
  --palette-primary-a10: #863ff1;
  --palette-primary-a20: #9958f4;
  --palette-primary-a30: #ab71f6;
  --palette-primary-a40: #bb88f8;
  --palette-primary-a50: #caa0fa;
}

.pink {
  /** Dark theme primary colors */
  --palette-primary-a0: #fc45bd;
  --palette-primary-a10: #ff62c4;
  --palette-primary-a20: #ff79cc;
  --palette-primary-a30: #ff8fd3;
  --palette-primary-a40: #ffa3da;
  --palette-primary-a50: #ffb6e2;
}

.green {
  /** Dark theme primary colors */
  --palette-primary-a0: #2dd4bf;
  --palette-primary-a10: #56d9c6;
  --palette-primary-a20: #72decd;
  --palette-primary-a30: #8ae3d4;
  --palette-primary-a40: #9fe8db;
  --palette-primary-a50: #b4ede2;
}

.green {
  /** Dark theme primary colors */
  --palette-primary-a0: #2dd4bf;
  --palette-primary-a10: #56d9c6;
  --palette-primary-a20: #72decd;
  --palette-primary-a30: #8ae3d4;
  --palette-primary-a40: #9fe8db;
  --palette-primary-a50: #b4ede2;
}
