* {
  box-sizing: border-box;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100%;
  inline-size: 100%;
}

.login,
form {
  display: flex;
  flex-direction: column;
}

.login {
  inline-size: 400px;
  block-size: 400px;
  background: var(--palette-surface-a50) / 0.1;
  backdrop-filter: blur(16px);
  border: 1px solid var(--palette-surface-a30);
  border-radius: 0.75rem;
  padding: 0.95rem;
  box-shadow: var(--box-shadow);
}

.app-section-title {
  font-size: 2.6rem;
  font-weight: 900;
  letter-spacing: .18rem;
  background: -webkit-linear-gradient(
    10deg,
    var(--palette-colors-green),
    var(--palette-colors-purple) 50%
  );
  /* background: -webkit-linear-gradient(45deg, rgb(9, 0, 159), rgb(0, 255, 149) 20%); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form {
  flex: 1 1 100%;
  justify-content: center;
  gap: 1.5rem;
}

fieldset,
input {
  border: none;
  outline: none;
  inline-size: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &:has(mui-button) {
    flex-direction: row;
    justify-content: flex-end;
  }
}

span:has(> input) {
  background: #fff;
  border-radius: .75rem;
  padding: .5rem;
  /* box-shadow: var(--box-shadow); */
}
