* {
  box-sizing: border-box;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100%;
  inline-size: 100%;
  background-image: url(../../../public/exploding-powder.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

article {
  display: grid;
  grid-template-columns: 40% 60%;
  block-size: 100%;
  inline-size: 100%;

  > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    block-size: 100%;
    padding-block: 5rem;

    &:first-child {
      justify-content: flex-start;
      padding-inline: 2rem;
    }

    &:nth-child(2) {
      justify-content: flex-end;
    }
  }
}

.login,
form {
  display: flex;
  flex-direction: column;
}

.login {
  inline-size: 420px;
  block-size: 400px;
  border: 1px solid var(--mui-palette-surface-a30);
  border-radius: var(--mui-shape-large);
  padding: 1.5rem;
  box-shadow: var(--mui-elevation-1);
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  backdrop-filter: blur(10px) saturate(180%);
}

.app-section-title {
  font-size: 2.6rem;
  font-weight: 900;
  letter-spacing: .1rem;
  line-height: 3rem;
}

form {
  flex: 1 1 100%;
  justify-content: center;
  gap: .7em;
}

fieldset,
input {
  border: none;
  outline: none;
  inline-size: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &:has(mui-button) {
    flex-direction: row;
    justify-content: flex-end;
  }
}

/* label {
  color: var(--mui-color-primary);
} */

span:has(> input) {
  background: #fff;
  border-radius: .75rem;
  padding: .5rem;
  /* box-shadow: var(--mui-elevation-1); */
}
