.app-container {
  border: 1px solid var(--mui-palette-surface-a30);
  border-radius: var(--mui-shape-large);
  padding: 1.5rem;
  box-shadow: var(--mui-elevation-3);
  /* background: rgba(0, 0, 0, 0.5); */
  /* backdrop-filter: blur(10px); */
  background: var(--mui-color-surface-a50);
}
