* {
  box-sizing: border-box;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100%;
  inline-size: 100%;
}

article {
  display: grid;
  grid-template-columns: 50% 50%;
  block-size: 100%;
  inline-size: 100%;

  > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    block-size: 100%;
    padding-block: 5rem;

    &:first-child {
      justify-content: center;
      padding-inline-start: 7rem;
    }

    &:nth-child(2) {
      justify-content: flex-end;
    }
  }
}

.app-section-title {
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 3rem;

  & + p {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
  }
}

.login,
form {
  display: flex;
  flex-direction: column;
}

.login {
  inline-size: 420px;
}

.app-container {
  border: 1px solid var(--mui-palette-surface-a30);
  border-radius: var(--mui-shape-medium);
  padding: 1.5rem;
  box-shadow: var(--mui-elevation-3);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

form {
  flex: 1 1 100%;
  justify-content: center;
  gap: 0.8rem;
  margin-block: 1.2rem;
}

fieldset,
input {
  border: none;
  outline: none;
  inline-size: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &:has(.mui-button) {
    flex-direction: row;
    justify-content: flex-end;
  }
}

input {
  background: #fff;
  border-radius: var(--mui-shape-round);
  padding: 0.8rem 0.5rem;
  box-shadow: var(--mui-elevation-1);
}
