:host {
  --_header-height: 4rem;

  display: block;
  /* position: sticky;
  top: 0; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  block-size: var(--_header-height);
  padding-inline: 1rem;
}

nav,
a {
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav mui-icon {
  cursor: pointer;
}

button {
  all: unset;
  cursor: pointer;
}

[popovertarget] {
  --mui-icon-size: 32px;
}

[popover] {
  z-index: 900;
  content-visibility: hidden;

  &:popover-open {
    content-visibility: visible;
  }
}

menu {
  --mui-icon-size: 21px;

  inset: calc(var(--_header-height) - 0.8rem) 1rem auto auto;
  border-radius: var(--mui-shape-medium);
  border: 1px solid var(--mui-palette-surface-a20);
  background: var(--mui-palette-surface-a0);
  box-shadow: var(--mui-elevation-4);
  padding: 0;
  z-index: 900;

  ul {
    list-style: none;
    padding-inline: 0;
    margin-inline: 0;

    li {
      min-inline-size: 135px;
    }

    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0.5rem 1rem;
      text-decoration: none;
      color: var(--mui-color-text);

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
